<div class="col-xs-12 text-center">
  <div class="row" style="margin-top:100px; margin-bottom:50px">
    <a routerLink="/newCategory" style="display: block; margin: 0 auto;" class="btn btn-primary" role="button">new category</a>
  </div>
  <div class="container">
    <div class="row" style="margin-top:50px">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Name</th>
              <th>ID</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories | async">
                <td>{{category.libelle}}</td>
                <td>{{category.id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
