<div class="card">
  <div class="card-body text-center">
    <h4 class="card-title">{{note.title}}</h4>
    <p class="card-text">{{note.content}}</p>
  </div>
  <div class="card-body text-center" style="background-color:#3c3c3c">
    <h4 style="color:#fff" class="card-title">{{note.category}}</h4>
    <p style="color:#fff" class="card-text">{{note.date}}</p>
  </div>
  <div class="card-footer text-center">
    <a class="btn btn-primary">Edit note</a>
    <a class="btn btn-primary">Delete note</a>
  </div>
</div>
