<div class="container">

  <div class="col-xs-12 text-center" style="margin-top:100px; margin-bottom:50px">
      <button [routerLink]="['/newNote']" id="singlebutton" name="singlebutton" class="btn btn-primary">Add a new note</button>
  </div>

  <div class="col-xs-12 text-center" style="margin-bottom:50px">
    <form class="form-inline col-xs-12 text-center">
              <input type="search" class="form-control" id="content" [(ngModel)]="search" name="form[content]">
             <button id="search-button" class="btn btn-outline-success my-2 my-sm-0" (click)="searchTag()" type="submit">Search Note</button>
             <button id="clear-button" class="btn btn-outline-success my-2 my-sm-0" (click)="getNotes()" type="submit">Clear</button>

        </form>
  </div>

  <div class="row" style="margin-top:50px">
        <div *ngFor="let note of notes | async" class="col-xs-4" style="padding:20px">
          <div class="container">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="card-title">{{note.title}}</h4>
                <p class="card-text" [innerHTML]="note.content"></p>
              </div>
              <div class="card-body text-center" style="background-color:#3c3c3c">
                <!-- <h4 style="color:#fff" class="card-title">{{note.category}}</h4> -->
                <p style="color:#fff" class="card-text">{{note.date}}</p>
              </div>
              <div class="card-footer text-center">
                <a class="btn btn-primary" routerLink="/editNote/{{note.id}}">Edit note</a>
                <a class="btn btn-danger" (click)="deleteNote(note)">Delete note</a>
              </div>
            </div>
        </div>

        </div>
  </div>
</div>
